:root{
--Green: #4CAF50;
--White: #FFFFFF;
--Light-grey: #D3D3D30;
--Grey-600:#374151;
--Grey-700: #121212;
--Grey-800: #0C0C0C;
--Grey-900: #080808;

--font-family: 'Inter';

--paragraph: 14px;
}

@font-face {
    font-family: var(--font-family);  
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
  }
  
*,
::after,
::before{
    box-sizing-border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--Grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-family)sans-serif;
}
.main{
    background: var(--Grey-700);
    width: 100%;
    max-width: 25rem;
    color: var(--White);
    padding: 2rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 50%;
    margin-top: 2rem;
}
h2{
    margin-top: 1.5rem;
    
}
h4{
    font-size:15px;
    margin-top: 0.4rem;
    color: var(--Green);
}
p{
    margin-top: 1.4rem;
    color:var(--Light-grey);
    font-style: italic;
    
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.btn1{
    margin-top: 0.5rem;
    width: 20rem;
    height: 2.2rem;
    cursor:pointer;
    background: var(--Grey-600);
    opacity: 0.7;
    border-radius: 5px;
    color: var(--White);
    opacity: 0.9;
}
footer{
    margin-top: 3rem;
}
